spring:
  application:
    name: gestao-ativos
  profiles:
    active: ${PROFILE:dev}
  datasource:
    url: jdbc:oracle:thin:@9.169.156.28:1521/GSDB
    username: ${DATABASE_USER:GSUSER}
    password: ${DATABASE_PASSWORD:gspassword}
    driver-class-name: oracle.jdbc.OracleDriver
  jpa:
    hibernate:
      ddl-auto: validate
    database-platform: org.hibernate.dialect.OracleDialect
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        jdbc:
          batch_size: 20
        order_inserts: true
        order_updates: true
        temp:
          use_jdbc_metadata_defaults: false
  data:
    web:
      pageable:
        default-page-size: 10
        max-page-size: 100
        one-indexed-parameters: false
      sort:
        sort-parameter: sort

jwt:
  secret: ${JWT_SECRET:mySecretKeyForJWTTokenGenerationAndValidationMustBeAtLeast256BitsLong}
  expiration: 86400000

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
    default-model-rendering: model
  default-produces-media-type: application/json
  default-consumes-media-type: application/json

server:
  port: 8080

